.env
*.crt
*.pem

data
kuma
dockage
pgadmin
postgres

nginx-proxy-manager/**
!nginx-proxy-manager/data
!nginx-proxy-manager/data/nginx
!nginx-proxy-manager/data/nginx/proxy_host
!nginx-proxy-manager/data/nginx/proxy_host/*



