{
    local_certs
}

adblock.dblocks.net {
    tls internal
    redir / /admin/login 302
    reverse_proxy localhost:1025
}

git.dblocks.net {
    tls internal
    reverse_proxy localhost:1026
}

db.dblocks.net {
    tls internal
    reverse_proxy localhost:1030
}

