# dblock 

# networks:
#   network-proxy: 
#   network-internal: 

volumes:
  adblock:
  portainer:
  git:
  git-runner:
  komodo:
  komodo_mongo:
  komodo_mongo_config:
  caddy_data:
  caddy_config:

services:

  caddy:
    container_name: proxy
    image: caddy:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./certificates:/data/caddy/certificates
      - caddy_data:/data
      - caddy_config:/config
  
  atlas:
    image: keinstien/atlas:latest
    container_name: network
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    environment:
      - ATLAS_UI_PORT=1024
      - ATLAS_API_PORT=8885
      - FASTSCAN_INTERVAL=3600
      - DOCKERSCAN_INTERVAL=3600
      - DEEPSCAN_INTERVAL=7200
      - SCAN_SUBNETS=192.168.1.0/24,10.0.0.0/24
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  adblock:
    image: pihole/pihole:latest
    container_name: adblock
    restart: unless-stopped
    network_mode: host
    environment:
      - FTLCONF_webserver_port=1025
      - TZ=America/Vancouver
      - FTLCONF_webserver_api_password=${FTLCONF_webserver_api_password}
      - FTLCONF_dns_listeningMode=ALL
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    volumes:
      - adblock:/etc/pihole


















  docker-in-docker:
    image: code.forgejo.org/oci/docker:dind
    hostname: docker  # Must set hostname as TLS certificates are only valid for docker or localhost
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: /certs
      DOCKER_HOST: docker-in-docker
    volumes:
      - ./certificates/local/git.dblocks.net/:/certs/

  git:
    image: codeberg.org/forgejo/forgejo:13
    restart: always
    ports:
      - 1026:3000
      - 222:22
    volumes:
      - git:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    container_name: git
    command: >-
      bash -c '
      /usr/bin/s6-svscan /etc/s6 &
      sleep 10 ;
      su -c "forgejo forgejo-cli actions register --keep-labels --secret {SHARED_SECRET}" git ;
      # su -c "forgejo admin user create --admin --username root --password {ROOT_PASSWORD} --email root@example.com" git ;
      sleep infinity
      '
    environment:
      FORGEJO__security__INSTALL_LOCK: "true"
      FORGEJO__log__LEVEL: "debug"
      FORGEJO__repository__ENABLE_PUSH_CREATE_USER: "true"
      FORGEJO__repository__DEFAULT_PUSH_CREATE_PRIVATE: "false"
      FORGEJO__repository__DEFAULT_REPO_UNITS: "repo.code,repo.actions"

  runner-register:
    image: code.forgejo.org/forgejo/runner:12.5.3
    links:
      - docker-in-docker
      - git
    environment:
      DOCKER_HOST: tcp://docker-in-docker:2376
    volumes:
      - /srv/runner-data:/data
    user: 0:0
    command: >-
      bash -ec '
      while : ; do
        forgejo-runner create-runner-file --connect --instance http://git:3000 --name runner --secret {SHARED_SECRET} && break ;
        sleep 1 ;
      done ;
      sed -i -e "s|\"labels\": null|\"labels\": [\"docker-cli:docker://code.forgejo.org/oci/docker:cli\",\"node-bookworm:docker://code.forgejo.org/oci/node:20-bookworm\"]|" .runner ;
      forgejo-runner generate-config > config.yml ;
      sed -i -e "s|  level: info|  level: debug|" config.yml ;
      sed -i -e "s|network: .*|network: host|" config.yml ;
      sed -i -e "s|^  envs:$$|  envs:\n    DOCKER_HOST: tcp://docker:2376\n    DOCKER_TLS_VERIFY: 1\n    DOCKER_CERT_PATH: /certs/client|" config.yml ;
      sed -i -e "s|^  options:|  options: -v /certs/client:/certs/client|" config.yml ;
      sed -i -e "s|  valid_volumes: \[\]$$|  valid_volumes:\n    - /certs/client|" config.yml ;
      chown -R 1000:1000 /data
      '

  git-runner:
    image: code.forgejo.org/forgejo/runner:12.5.3
    links:
      - docker-in-docker
      - git
    environment:
      DOCKER_HOST: tcp://docker:2376
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: "1"
    volumes:
      - git-runner:/data
      - docker_certs:/certs
      - ./certificates/local/git.dblocks.net/:/certs/
    command: >-
      bash -c '
      while : ; do test -w .runner && forgejo-runner --config config.yml daemon ; sleep 1 ; done
      '
    container_name: git-runner
    # extra_hosts:
      # - git.dblocks.net:10.0.0.5

  mongo:
    image: mongo
    container_name: build-database
    labels:
      komodo.skip: 
    command: --quiet --wiredTigerCacheSizeGB 0.25
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME} 
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - komodo_mongo:/data/db
      - komodo_mongo_config:/data/configdb

  core:
    image: ghcr.io/moghtech/komodo-core:latest
    container_name: build
    labels:
      komodo.skip: 
    restart: unless-stopped
    depends_on:
      - mongo
    ports:
      - 1027:9120
    environment:
      - KOMODO_INIT_ADMIN_USERNAME=${KOMODO_INIT_ADMIN_USERNAME}
      - KOMODO_INIT_ADMIN_PASSWORD=${KOMODO_INIT_ADMIN_PASSWORD}
      - KOMODO_WEBHOOK_SECRET=${KOMODO_WEBHOOK_SECRET}
      - KOMODO_JWT_SECRET=${KOMODO_JWT_SECRET}
      - KOMODO_DATABASE_USERNAME=${KOMODO_DATABASE_USERNAME}
      - KOMODO_DATABASE_PASSWORD=${KOMODO_DATABASE_PASSWORD}
      - KOMODO_DB_USERNAME=${KOMODO_DB_USERNAME}
      - KOMODO_DB_PASSWORD=${KOMODO_DB_PASSWORD}
      - KOMODO_PASSKEY=${KOMODO_PASSKEY}
      - KOMODO_DATABASE_ADDRESS=mongo:27017
      - TZ=Etc/UTC
      - KOMODO_HOST=https://demo.komo.do
      - KOMODO_TITLE=dblocks
      - KOMODO_FIRST_SERVER=https://periphery:8120
      - KOMODO_FIRST_SERVER_NAME=Local
      - KOMODO_MONITORING_INTERVAL=15-sec
      - KOMODO_RESOURCE_POLL_INTERVAL=1-hr
      - KOMODO_JWT_TTL=1-day
      - KOMODO_LOCAL_AUTH=true
      - KOMODO_DISABLE_CONFIRM_DIALOG=false
      - KOMODO_DISABLE_USER_REGISTRATION=false
      - KOMODO_ENABLE_NEW_USERS=false
      - KOMODO_DISABLE_NON_ADMIN_CREATE=false
      - KOMODO_TRANSPARENT_MODE=false
      - KOMODO_LOGGING_PRETTY=false
      - KOMODO_PRETTY_STARTUP_CONFIG=false
      - KOMODO_OIDC_ENABLED=false
      - KOMODO_GITHUB_OAUTH_ENABLED=false
      - KOMODO_GOOGLE_OAUTH_ENABLED=false
    volumes:
      - komodo:/backups

  periphery:
    image: ghcr.io/moghtech/komodo-periphery:latest
    container_name: build-periphery
    labels:
      komodo.skip: 
    restart: unless-stopped
    environment:
      - PERIPHERY_PASSKEYS=${PERIPHERY_PASSKEYS}
      - PERIPHERY_ROOT_DIRECTORY=/etc/komodo
      - PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
      - PERIPHERY_SSL_ENABLED=true
      - PERIPHERY_LOGGING_PRETTY=false
      - PERIPHERY_DISABLE_TERMINALS=false
      - PERIPHERY_PRETTY_STARTUP_CONFIG=false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - /etc/komodo:/etc/komodo

  speed:
      restart: unless-stopped
      container_name: speed
      ports:
          - 1028:3000
      image: openspeedtest/latest

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 1029:9443
    volumes:
      - portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock

