# dblock 

volumes:
  adblock:
  portainer:
  git:
  git-runner:
  caddy_data:
  caddy_config:

services:

  caddy:
    container_name: proxy
    image: caddy:latest
    restart: unless-stopped
    ports:
      # - "80:80"
      - "443:443"

    volumes:
      - ./caddy_data:/data
      - ./caddy_config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./etc/ssl/certs:/etc/ssl/certs
      # - ./certificates:/data/caddy/certificates
      - ./ca-certificates:/usr/local/share/ca-certificates

  git:
    image: codeberg.org/forgejo/forgejo:13
    container_name: git
    restart: always
    environment:
      - FORGEJO__server__ROOT_URL=https://git.dblocks.net/
      # - FORGEJO__server__ROOT_URL=http://git.dblocks.net:1026/
      # - FORGEJO__server__HTTP_PORT=3000
      - FORGEJO__server__DOMAIN=git.dblocks.net
    ports:
      - 1026:3000
      - 222:22
    volumes:
      - git:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  docker-in-docker:
    image: docker:dind
    container_name: git-docker
    privileged: 'true'
    restart: 'unless-stopped'
    command: ['dockerd', '-H', 'tcp://0.0.0.0:2375', '--tls=false']

  runner:
    image: data.forgejo.org/forgejo/runner:12
    container_name: git-runner
    links:
      - docker-in-docker
    depends_on:
      docker-in-docker:
        condition: service_started
    environment:
      - DOCKER_HOST=tcp://docker-in-docker:2375
    volumes:
      - git-runner:/data
      - ./etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
    restart: unless-stopped
    extra_hosts:
      - "git.dblocks.net:host-gateway"
      # - git.dblocks.net:10.0.0.5
    command: ["sh", "-c", "sleep 5; forgejo-runner daemon"]
    # command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'
    # command: '/bin/sh -c "sleep 5; forgejo-runner daemon"'


  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 1029:9443
    volumes:
      - portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock


  atlas:
    image: keinstien/atlas:latest
    container_name: network
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    environment:
      - ATLAS_UI_PORT=1024
      - ATLAS_API_PORT=8885
      - FASTSCAN_INTERVAL=3600
      - DOCKERSCAN_INTERVAL=3600
      - DEEPSCAN_INTERVAL=7200
      - SCAN_SUBNETS=192.168.1.0/24,10.0.0.0/24
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  adblock:
    image: pihole/pihole:latest
    container_name: adblock
    restart: unless-stopped
    network_mode: host
    environment:
      - FTLCONF_webserver_port=1025
      - TZ=America/Vancouver
      - FTLCONF_webserver_api_password=${FTLCONF_webserver_api_password}
      - FTLCONF_dns_listeningMode=ALL
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    volumes:
      - adblock:/etc/pihole

