volumes:
  git-runner:
  npm:
  git:
  komodo:
  adblock:
  portainer:
  mongo:
  mongo-config:
  caddy_data:
  caddy_config:

services:

  caddy:
    container_name: proxy
    image: caddy:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

  atlas:
    image: keinstien/atlas:latest
    container_name: network
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    environment:
      - ATLAS_UI_PORT=8884
      - ATLAS_API_PORT=8885
      - FASTSCAN_INTERVAL=3600
      - DOCKERSCAN_INTERVAL=3600
      - DEEPSCAN_INTERVAL=7200
      - SCAN_SUBNETS=192.168.1.0/24,10.0.0.0/24
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  portainer:
    container_name: docker
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 8000:8000
      - 9443:9443
    volumes:
      - portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock

  git:
    container_name: git
    image: codeberg.org/forgejo/forgejo:13
    restart: always
    ports:
      - 3000:3000
      - 222:22
    environment:
      - USER_UID=1000
      - USER_GID=1000
    volumes:
      - git:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  docker-in-docker:
    image: docker:dind
    container_name: git-docker
    privileged: 'true'
    command: ['dockerd', '-H', 'tcp://0.0.0.0:2375', '--tls=false']
    restart: 'unless-stopped'

  runner:
    image: data.forgejo.org/forgejo/runner:11
    container_name: git-runner
    links:
      - docker-in-docker
    depends_on:
      docker-in-docker:
        condition: service_started
    environment:
      DOCKER_HOST: tcp://docker-in-docker:2375
    user: 1000:1000
    # user: 1001:1001
    volumes:
      - git-runner:/data
    restart: unless-stopped
    # command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'
    command: '/bin/sh -c "sleep 5; forgejo-runner daemon"'

  adblock:
    image: pihole/pihole:latest
    container_name: adblock
    restart: unless-stopped
    network_mode: host
    environment:
      - WEB_PORT=8080  
      - FTLCONF_webserver_port=8080
      - TZ=America/Vancouver
      - FTLCONF_webserver_api_password=x # change
      - FTLCONF_dns_listeningMode=ALL
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    volumes:
      - adblock:/etc/pihole

  mongo:
    image: mongo
    container_name: build-database
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    command: --quiet --wiredTigerCacheSizeGB 0.25
    restart: unless-stopped
    # ports:
    #   - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin # change 
      - MONGO_INITDB_ROOT_PASSWORD=admin # change
    volumes:
      - mongo:/data/db
      - mongo-config:/data/configdb

  core:
    image: ghcr.io/moghtech/komodo-core:latest
    container_name: build
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    restart: unless-stopped
    depends_on:
      - mongo
    ports:
      - 9120:9120
    environment:
      - KOMODO_INIT_ADMIN_USERNAME=admin # change
      - KOMODO_INIT_ADMIN_PASSWORD=changeme # change
      - KOMODO_WEBHOOK_SECRET=a_random_secret # change
      - KOMODO_JWT_SECRET=a_random_jwt_secret # change
      - KOMODO_DATABASE_USERNAME=admin # change
      - KOMODO_DATABASE_PASSWORD=admin # change
      - KOMODO_DB_USERNAME=admin # change
      - KOMODO_DB_PASSWORD=admin # change
      - KOMODO_PASSKEY=a_random_passkey # change
      - KOMODO_DATABASE_ADDRESS=mongo:27017
      - TZ=Etc/UTC
      - KOMODO_HOST=https://demo.komo.do
      - KOMODO_TITLE=Komodo
      - KOMODO_FIRST_SERVER=https://periphery:8120
      - KOMODO_FIRST_SERVER_NAME=Local
      - KOMODO_DISABLE_CONFIRM_DIALOG=false
      - KOMODO_MONITORING_INTERVAL=15-sec
      - KOMODO_RESOURCE_POLL_INTERVAL=1-hr
      - KOMODO_JWT_TTL=1-day
      - KOMODO_LOCAL_AUTH=true
      - KOMODO_DISABLE_USER_REGISTRATION=false
      - KOMODO_ENABLE_NEW_USERS=false
      - KOMODO_DISABLE_NON_ADMIN_CREATE=false
      - KOMODO_TRANSPARENT_MODE=false
      - KOMODO_LOGGING_PRETTY=false
      - KOMODO_PRETTY_STARTUP_CONFIG=false
      - KOMODO_OIDC_ENABLED=false
      - KOMODO_GITHUB_OAUTH_ENABLED=false
      - KOMODO_GOOGLE_OAUTH_ENABLED=false

    volumes:
      - komodo:/backups

  periphery:
    image: ghcr.io/moghtech/komodo-periphery:latest
    container_name: build-periphery
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    restart: unless-stopped
    environment:
      - PERIPHERY_PASSKEYS=a_random_passkey  # change
      - PERIPHERY_ROOT_DIRECTORY=/etc/komodo
      - PERIPHERY_DISABLE_TERMINALS=false
      - PERIPHERY_SSL_ENABLED=true
      - PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
      - PERIPHERY_LOGGING_PRETTY=false
      - PERIPHERY_PRETTY_STARTUP_CONFIG=false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - /etc/komodo:/etc/komodo

  speedtest:
      restart: unless-stopped
      container_name: speedtest
      ports:
          - 3002:3000
          - 3001:3001
      image: openspeedtest/latest

