# dblocks

volumes:
  adblock:
  portainer:
  git:
  git-runner:
  komodo:
  komodo_mongo:
  komodo_mongo_config:
  
services:

  adblock:
    container_name: adblock
    image: pihole/pihole:latest
    restart: unless-stopped
    network_mode: host 
    environment:
      - FTLCONF_webserver_port=1025
      - TZ=America/Vancouver
      - FTLCONF_WEBSERVER_API_PASSWORD=${FTLCONF_WEBSERVER_API_PASSWORD}
      - FTLCONF_dns_listeningMode=ALL
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    volumes:
      - adblock:/etc/pihole

  caddy:
    container_name: proxy
    image: caddy:latest
    restart: unless-stopped
    ports:
      - 80:80 # 
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./etc/ssl/certs:/etc/ssl/certs

  git:
    container_name: git
    image: codeberg.org/forgejo/forgejo:13
    restart: always
    environment:
      - FORGEJO__server__ROOT_URL=https://git.dblocks.net
      - FORGEJO__server__DOMAIN=10.0.0.5
      - FORGEJO__server__HTTP_PORT=1026
    ports:
      - 1026:1026
      - 222:22
    volumes:
      - git:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  docker-in-docker:
    container_name: git-docker
    image: docker:dind
    restart: unless-stopped
    hostname: docker  # Must set hostname as TLS certificates are only valid for docker or localhost
    privileged: 'true'
    command: dockerd -H tcp://0.0.0.0:2375 --tls=false

  runner:
    container_name: git-runner
    image: data.forgejo.org/forgejo/runner:12
    restart: unless-stopped
    links:
      - docker-in-docker
      - git
    depends_on:
      docker-in-docker:
        condition: service_started
    environment:
      - DOCKER_HOST=tcp://docker-in-docker:2375
    volumes:
      - ./config.yml:/config.yml
      - ./etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
    extra_hosts:
      - git.dblocks.net:10.0.0.5
    # command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'
    command: 'sh -c "forgejo-runner daemon"'

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 1029:9443
    volumes:
      - portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock

  atlas:
    container_name: network
    image: keinstien/atlas:latest
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    environment:
      - ATLAS_UI_PORT=1024
      - ATLAS_API_PORT=8885
      - FASTSCAN_INTERVAL=3600
      - DOCKERSCAN_INTERVAL=3600
      - DEEPSCAN_INTERVAL=7200
      - SCAN_SUBNETS=192.168.1.0/24,10.0.0.0/24
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  mongo:
    container_name: build-database
    restart: unless-stopped
    image: mongo
    labels:
      komodo.skip: 
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME} 
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - komodo_mongo:/data/db
      - komodo_mongo_config:/data/configdb
    command: --quiet --wiredTigerCacheSizeGB 0.25

  core:
    container_name: build
    image: ghcr.io/moghtech/komodo-core:latest
    restart: unless-stopped
    labels:
      komodo.skip: 
    depends_on:
      - mongo
    ports:
      - 1027:9120
    environment:
      - KOMODO_INIT_ADMIN_USERNAME=${KOMODO_INIT_ADMIN_USERNAME}
      - KOMODO_INIT_ADMIN_PASSWORD=${KOMODO_INIT_ADMIN_PASSWORD}
      - KOMODO_WEBHOOK_SECRET=${KOMODO_WEBHOOK_SECRET}
      - KOMODO_JWT_SECRET=${KOMODO_JWT_SECRET}
      - KOMODO_DATABASE_USERNAME=${KOMODO_DATABASE_USERNAME}
      - KOMODO_DATABASE_PASSWORD=${KOMODO_DATABASE_PASSWORD}
      - KOMODO_DB_USERNAME=${KOMODO_DB_USERNAME}
      - KOMODO_DB_PASSWORD=${KOMODO_DB_PASSWORD}
      - KOMODO_PASSKEY=${KOMODO_PASSKEY}
      - KOMODO_DATABASE_ADDRESS=mongo:27017
      - TZ=Etc/UTC
      - KOMODO_HOST=https://demo.komo.do
      - KOMODO_TITLE=dblocks
      - KOMODO_FIRST_SERVER=https://periphery:8120
      - KOMODO_FIRST_SERVER_NAME=Local
      - KOMODO_MONITORING_INTERVAL=15-sec
      - KOMODO_RESOURCE_POLL_INTERVAL=1-hr
      - KOMODO_JWT_TTL=1-day
      - KOMODO_LOCAL_AUTH=true
      - KOMODO_DISABLE_CONFIRM_DIALOG=false
      - KOMODO_DISABLE_USER_REGISTRATION=false
      - KOMODO_ENABLE_NEW_USERS=false
      - KOMODO_DISABLE_NON_ADMIN_CREATE=false
      - KOMODO_TRANSPARENT_MODE=false
      - KOMODO_LOGGING_PRETTY=false
      - KOMODO_PRETTY_STARTUP_CONFIG=false
      - KOMODO_OIDC_ENABLED=false
      - KOMODO_GITHUB_OAUTH_ENABLED=false
      - KOMODO_GOOGLE_OAUTH_ENABLED=false
    volumes:
      - komodo:/backups

  periphery:
    container_name: build-periphery
    image: ghcr.io/moghtech/komodo-periphery:latest
    restart: unless-stopped
    labels:
      komodo.skip: 
    environment:
      - PERIPHERY_PASSKEYS=${PERIPHERY_PASSKEYS}
      - PERIPHERY_ROOT_DIRECTORY=/etc/komodo
      - PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
      - PERIPHERY_SSL_ENABLED=true
      - PERIPHERY_LOGGING_PRETTY=false
      - PERIPHERY_DISABLE_TERMINALS=false
      - PERIPHERY_PRETTY_STARTUP_CONFIG=false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - /etc/komodo:/etc/komodo

  speed:
      container_name: speed
      image: openspeedtest/latest
      restart: unless-stopped
      ports:
        - 1028:3000


      