services:
  proxy:
    image: nginx:latest
    ports:
      - 443:443
    volumes:
      - ./certs:/etc/ssl/certs
      - ./nginx.conf:/etc/nginx/conf.d/default.conf

  atlas:
    image: keinstien/atlas:latest
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    environment:
      - ATLAS_UI_PORT=8884
      - ATLAS_API_PORT=8885
      - FASTSCAN_INTERVAL=3600
      - DOCKERSCAN_INTERVAL=3600
      - DEEPSCAN_INTERVAL=7200
      - SCAN_SUBNETS=192.168.1.0/24,10.0.0.0/24
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  docker:
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 8000:8000
      - 9443:9443
    volumes:
      - ./docker:/data
      - /var/run/docker.sock:/var/run/docker.sock

  git:
    image: codeberg.org/forgejo/forgejo:13
    restart: always
    ports:
      - 3000:3000
      - 222:22
    environment:
      - USER_UID=1000
      - USER_GID=1000
    volumes:
      - ./git:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  adblock:
    image: pihole/pihole:latest
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 8080:80
      - 8443:443
    environment:
      TZ: America/Vancouver
      FTLCONF_webserver_api_password: x
      FTLCONF_dns_listeningMode: ALL
    volumes:
      - ./adblock:/etc/pihole
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped