
volumes:
  git:
  proxy:
  atlas:
  docker:
  metrics:

networks:
  home:

services:
  proxy:
    image: nginx:latest
    ports:
      - 443:443
    volumes:
      - ./certs:/etc/ssl/certs
      - ./nginx.conf:/etc/nginx/conf.d/default.conf

  atlas:
    image: keinstien/atlas:latest
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - ATLAS_UI_PORT=8884
      - ATLAS_API_PORT=8885
      - FASTSCAN_INTERVAL=3600
      - DOCKERSCAN_INTERVAL=3600
      - DEEPSCAN_INTERVAL=7200
      - SCAN_SUBNETS=192.168.1.0/24,10.0.0.0/24

  docker:
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - 8000:8000
      - 9443:9443
    volumes:
      - ./docker:/data
      - /var/run/docker.sock:/var/run/docker.sock

  git:
    image: codeberg.org/forgejo/forgejo:13
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    volumes:
      - ./git:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 3000:3000
      - 222:22

  metrics:
    image: henrygd/beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - ./metrics:/beszel_data


