services:

  proxy:
    image: 'docker.io/jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    environment:
      INITIAL_ADMIN_EMAIL: admin@admin.com
      INITIAL_ADMIN_PASSWORD: admin
    ports:
      # - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./nginx-proxy-manager/data/nginx/proxy-host:/data
      - ./nginx-proxy-manager/data:/data
      - ./nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    networks:
      - home

  docker:
    image: louislam/dockge:1
    restart: unless-stopped
    ports:
      - 1024:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./dockage/data:/app/data
      - ./dockage/opt/stacks:/opt/stacks
    environment:
      - DOCKGE_STACKS_DIR=./dockage/opt/stacks
      - DOCKGE_ENABLE_CONSOLE=true
    networks:
      - home

  uptime:
    image: louislam/uptime-kuma:1
    restart: unless-stopped
    volumes:
      - ./kuma:/app/data
    ports:
      - 1025:3001
    networks:
      - home

networks:
  home: