
services:

  headscale:
    image: headscale/headscale:0.26.0
    container_name: headscale
    restart: unless-stopped
    ports:
      - 8080:8080
      - 9090:9090
    labels:
      me.tale.headplane.target: headscale
    volumes:
      - ./headscale/config.yaml:/etc/headscale/config.yaml
      - ./headscale/lib:/var/lib/headscale
      - ./headscale/run:/var/run/headscale
    command: serve

    healthcheck:
        test: ["CMD", "headscale", "health"]


  headplane:
    image: ghcr.io/tale/headplane:latest
    container_name: headplane
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./headplane/config.yaml:/etc/headplane/config.yaml
      - ./headplane/storage/data:/var/lib/headplane

      - ./headscale/config.yaml:/etc/headscale/config.yaml
      # - ./headscale/dns_records:/etc/headscale/dns_records.json
      - /var/run/docker.sock:/var/run/docker.sock:ro
      